*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
}

:root {
    --test-font-family: 'Raleway';
    --heading-font-family: 'Raleway';
    --font-family: 'Roboto';
    --font-style: 'normal';
    --font-weight: 400;
    --flex-shrink: 0;
    --background-color: #fff;
    --social-icon-color: #AFB1B8;
    --link-social-hover-color: #fff;
    --social-icon-color-footer: #fff;
    --background-color-footer: #ffffff1a;
    --background-hover-color-footer: #2196F3;
    --social-link-color-hover: #2196F3;
    --icon-color-header: #757575;
    --transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}


a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 1600px;
    height: 1879px;
    font-family: var(--font-family);
    background: #FFF;
}

/* header section */

.web-container > h1 {
    color: #2196F3;
    font-size: 26px;
    font-family: var(--heading-font-family);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.web-container > h1 > span {
    color: #000;
}

.global-header .first-container {
    display: flex;
    width: 1600px;
    height: 82px;
    background-color: #fff;
    border-bottom: 1px;
    border: solid #ECECEC;
}
/*
.box {
     display: flex; */
    /* align-items: baseline;
} */

.box ul {
    display: flex;
    flex-flow: row;
    /* justify-content: space-around; */
    flex-direction: row;
    flex-wrap: nowrap;
}

.web-container {
    display: flex;
    justify-content: center;
    width: 145px;
    height: 31px;
    margin: 24px 93px 25px 215px;
}

.global-header .container ul {
    display: flex;
}

.content-section {
    font-size: 14px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    margin-top: 32px;
    gap: 50px;
}

.box .content-section {
    list-style: none;
    padding: 0;
    margin-top: 32px;
}

.box .studio {
    display: inline-block;
    margin-right: 20px;
}

.box .active {
    color: #212121;
    position: relative;
    text-decoration: none;
    transition: var(--transition);
}

.box .active:hover::after,
.box .active:focus::after {
    border-radius: 2px;
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
}

.box .active:hover,
.box .active:focus {
    color: #2196F3;
    
}

/* email phone  */


.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 330px;
}

.icon-list .contact-header {
    flex-shrink: 0;
    margin-top: 32px;
}

.email-link > svg {
    width: 16px;
    height: 11.996px;
    flex-shrink: 0;
    margin-right: 10px;
}

.phone-section > svg {
    width: 10px;
    height: 16px;
    flex-shrink: 0;
    margin-right: 10px;
}

.contact-header .phone-section {
    fill: var(--social-icon-color);
    color: var(--icon-color-header);
    background-color: var(--background-color);
    width: 132px;
    height: 16px;
    flex-shrink: 0;  
    transition: var(--transition);
}

.contact-header .email-link {
    fill: var(--social-icon-color);
    color: var(--icon-color-header);
    background-color: var(--background-color);
    width: 161px;
    height: 16px;
    flex-shrink: 0;
    transition: var(--transition);
}

.contact-header .email-link:hover,
.contact-header .email-link:focus {
    color: var(--background-hover-color-footer);
    
}

.contact-header .phone-section:hover,
.contact-header .phone-section:focus {
    color: var(--background-hover-color-footer);
    
}

.global-header {
    background: var(--background-color);
    flex-shrink: var(--flex-shrink);
}

/*  main section  */

.main-section {
    display: flex;
    flex-direction: column;
}

.box-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-around;
}

.box-buttons > ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 830px;
    justify-content: space-between;
    margin: 94px 542px 0px 542px;
    height: 38px;
}

.box-images {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-evenly;
}

.image-container {
    position: relative;
    width: 50%;
}

.image-animation {
    display: block;
    width: 100%;
    height: auto;
    width: 370px;
    height: 294px;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    width: 370px;
    height: 0;
    transition: .5s ease;
}

.box-images > ul > li > div:hover .image-overlay {
    height: 100%;
    transition: var(--transition);
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: start;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.54px;
    width: 322px;
    height: 140px;
    
}

.box-images > ul > li {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 294px;
    width: 370px;
}

.box-images > ul > li > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 370px;
    height: 404px;
    flex-shrink: 0;
    border: 1px solid #EEE;
    background: #FFF;
    transition: var(--transition);
}

.box-images > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1170px;
    justify-content: space-evenly;
    height: 1360px;
    margin: 94px 0px 0px 0px;
}

.box-images > ul > li > div:hover,
.box-images > ul > li > div:focus {
    cursor: pointer;
    
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.app-button:hover,
.app-button:focus {
    color: #ffffff;
    background: #2196F3;
    cursor: pointer;
    
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.app-button{
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    flex-shrink: var(--flex-shrink);
    transition: var(--transition);
}

.all-button {
    width: 64px;
    height: 38px;
}

.web-button {
    width: 120px;
    height: 38px;
}

.apps-botton {
    width: 83px;
    height: 38px;
}

.design-button {
    width: 96px;
    height: 38px;
}

.marketing-button {
    width: 121px;
    height: 38px;
}

.name-section{
    color: #212121;
    font-size: 18px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    width: 322px;
    height: 36px;
    margin-left: 24px;
    margin-top: 20px;
}

.category-section{
    color: #757575;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: 1.8;
    letter-spacing: 0.48px;
    width: 322px;
    height: 30px;
    margin-left: 24px;
    margin-bottom: 20px;
}

/* footer section */
    
.footer-section {
    display: flex;
    width: 1600px;
    height: 251px;
    background: #2F303A;
    flex-shrink: 0;
}

.footer-address {
    width: 422px;
}

.link-footer {
    margin-left: 94px;
}

.link-footer > h6 {
    margin-top: 75px;
    margin-bottom: 20px;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.icon-find > ul {
    display: flex;
    gap: 10px;
    width: 206px;
    height: 44px;
    flex-shrink: 0;
}

.icons-footer {
    display: flex;
    gap: 10px;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    margin-top: 20px;
}

.icons-footer .icon-social-footer {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: var(--background-color-footer);
    color: var(--social-icon-color-footer);
    transition: var(--transition);
}

.icon-social-footer > svg {
    width: 20px;
    height: 20px;
    margin: 12px;
}

.icons-footer .icon-social-footer:hover,
.icons-footer .icon-social-footer:focus {
    background-color: var(--background-hover-color-footer);
    color: var(--link-social-hover-color);
   
}

.footer-address > h2 {
    color: #2196F3;
    width: 145px;
    height: 31px;
    margin-top: 60px;
    margin-left: 215px;
    margin-bottom: 28px;
    line-height: 31px;
}

.footer-address > h2 > span {
    color: #fff;
}

.address-layout {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 231px;
    height: 72px;
    flex-shrink: 0;
    margin-left: 215px;
}

.phone-footer {
    color: #ffffff99;
    width: 231px;
    height: 16px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    transition: var(--transition);
    }

.email-footer {
    line-height: 16px;
    width: 231px;
    height: 16px;
    flex-shrink: 0;
    color: #ffffff99;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    transition: var(--transition);
}

.address-location {
    flex-shrink: 0;
    color: #FFFFFF;
    width: 207px;
    height: 16px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}

.email-footer:hover,
.phone-footer:hover,
.email-footer:focus,
.phone-footer:focus{
    color: var(--background-hover-color-footer); 
}

/* footer input*/

.input-footer {
    margin-left: 93px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    gap: 20px;
}

.input-footer > h6 {
    display: flex;
}

.acces-input {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.email-input {
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
}

.input-content {
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #ffffff4d #ffffff4d;
    background: #2196f300;
    box-shadow: 0px 4px 4px 0px #00000026;
}

.button-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    top: 93px;
    right: 215px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-submit > svg {
    width: 24px;
    height: 24px;
}

.button-submit:focus,
.button-submit:hover {
    cursor: pointer;
}

.email-input:focus,
.email-input:hover {
    cursor: pointer;
}